mfe1/node_modules/
mfe2/node_modules/
shell/node_modules/

mfe1/dist/
mfe2/dist/
shell/dist/

mfe1/yarn.lock
mfe2/yarn.lock
shell/yarn.lock
mfe1/package-lock.json
mfe2/package-lock.json
shell/package-lock.json

mfe1/.cache/
mfe2/.cache/
shell/.cache/

mfe1/npm-debug.log*
mfe2/npm-debug.log*
shell/npm-debug.log*

.vscode/
.idea/
.DS_Store
Thumbs.db
